backend/.env
backend/pos.db
backend/__pycache__/
backend/*.pyc
venv/
# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
backend/models/__pycache__
backend/services/__pycache__
# Ignore virtual environments
venv/
.env
